export(i_mca, i_pca, do_es, add_es)
import(ggplot2, animation)
importFrom("stats", "cor", "lm")
importFrom("ca","mjca")
importFrom("corpcor","pseudoinverse")
importFrom("corpcor","fast.svd")
importFrom("ggrepel","geom_text_repel")
importFrom("utils", "read.table", "write.table")

S3method(plot, i_mca)
S3method(plot, i_pca)
S3method(update, i_mca)
S3method(update, i_pca)
